<!DOCTYPE html>
<html>
<head>
<title>David Gordon - About</title>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="container">
	<div class="row">
		<% include ../partials/nav.ejs %>
	</div>
	<div class="row">
		<div class="jumbotron text-center">
			<h1>
				About
			</h1>
		</div>
	</div>
	<div class="row">
	  <div class="col-md-2">
	  </div>
	  <div class="col-md-6">
         <p>I am a new media artist, tinkerer, and mixed reality software developer from Los Angeles, California. I focus on pushing the conceptual and technical boundaries of emerging media forms.</p>
<p> Currently based in Pittburgh, Pennsylvania, I am pursuing a Bachelors in Computer Science and Art (BCSA) program at Carnegie Mellon University (May 2018 graduation).</p>
	  </div>
	</div>
</div>
</body>
</html>
