<!DOCTYPE html>
<html>
<head>
<title>David Gordon - Contact</title>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="container">
	<div class="row">
		<% include ../partials/nav.ejs %>
	</div>
	<div class="row">
		<div class="jumbotron text-center">
			<h1>
				Contact
			</h1>
		</div>
	</div>
	<div class="row">
	  <div class="col-md-2">
	  </div>
	  <div class="col-md-6">
           <p>email: heximhotep@gmail.com
		</p>
		<br/>
		<a href="https://www.linkedin.com/in/david-gordon-b13832112/">linkedin
		</a>
	  </div>
	</div>
</div>
</body>
</html>
