<!DOCTYPE html>
<html>
<head>
<title>David Gordon - Home</title>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="container">
	<div class="row">
		<% include ../partials/nav.ejs %>
	</div>
	<div class="row">
		<div class="jumbotron text-center">
			<h1>
				David Gordon
			</h1>
			<br/>
			<img src="/metipede.gif" width="320" height="220">
		</div>
	</div>
	<div class="row">
		
	</div>
</div>
</body>
</html>
