<!DOCTYPE html>
<html>
<head>
  <title>David Gordon - Works</title>
  <% include ../partials/header.ejs %>
  <style>
	h1 {
		text-align: center;
	}
  </style>
</head>

<body>
<div class="container">
<div class="row">
		<% include ../partials/nav.ejs %>
	</div>

<div class="row">
		<div class="jumbotron text-center">
			<div class="row">
<h1>Works</h1>
			</div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
<div id="portacc" role="tablist" aria-multiselectable="false">
<span>
	<a class="btn" id="flexbtn" role="tab" data-toggle="collapse" data-parent="#portacc" href="#forceflex" aria-expanded="false" aria-controls="collapseExample">
<img class="img-rounded" src="/thumbs/force_flex_thumb.png" height="64" width="64">
	<br/>
    Force Flex
  	</a>
</span>
<span>
	<a class="btn" href="http://golancourses.net/excap17/dmgordon/05/01/dmgordon-final/">
	<img class="img-rounded" src="/thumbs/rotbot_thumb.png" width="64" height="64">
	<br/>
	Rot Bot
	</a>
</span>
<span>
	<a class="btn" 
href="http://play.google.com/store/apps/details?id=com.garncarz.galapagos&hl=en">
	<img class="img-rounded" src="/thumbs/galapagos_thumb.png" width="64" height="64">
	<br/>
	GalapagOS
	</a>
</span>
	<a class="btn"
href="http://golancourses.net/excap17/dmgordon/03/08/dmgordon-place/">
	<img class="img-rounded" src="/thumbs/kinect_depthshot_thumb.png" width="64" height="64">
	<br/>
	Exposure
	</a>
<span>
	<a class="btn" id="portraitbtn" role="tab" data-toggle="collapse" data-parent="#portacc" href="#portrait" aria-expanded="false" aria-controls="collapseExample">
	<img class="img-rounded" src="/thumbs/portrait_thumb.png" width="64" height="64">
	<br/>
    Portrait
  	</a>
</span>
<span>
	<a class="btn" id="cutebtn" role="tab" data-toggle="collapse" data-parent="#portacc" href="#cutetome" aria-expanded="false" aria-controls="collapseExample">
	<img class="img-rounded" src="/thumbs/cute_2_me_thumb.png" width="64" height="64">
	<br/>
    Cute To Me
  	</a>
</span>
<span>
	<a class="btn" id="fromscapebtn" role="tab" data-toggle="collapse" data-parent="#portacc" href="#fromscape" aria-expanded="false" aria-controls="collapseExample">
	<img class="img-rounded" src="/thumbs/fromscape_thumb.png" width="64" height="64">
	<br/>
    Fromscape
  	</a>
</span>

<div class="collapse" role="tabpanel" aria-labelledby="#flexbtn" id="forceflex">
	<div class="card card-block">
		<p>2017: Made in collaboration with CMU MFA student Joyce Poulard-Cruz
		</p>
	</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eYlZ5VOh4dc" frameborder="0" allowfullscreen></iframe>
</div>
<div class="collapse" role="tabpanel" aria-labelledby="#portraitbtn" id="portrait">
	<div class="card card-block">
		<p>2017: Music composed in pureData. Models built and animated in Maya. Developed in Unity 5.5 using SteamVR.
		</p>
	</div>
					<iframe 	src="https://player.vimeo.com/video/205719845" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
					</iframe>
</div>

<div class="collapse" role="tabpanel" aria-labelledby="#cutebtn" id="cutetome">
	<div class="card card-block">
		<p>2016: Made in collaboration with musicians Wise Blood and The Moon Baby, CMU MFA student Kevin Ramser and CMU BCSA students Alicia Iott, Char Stiles and Guy De Bree.
		</p>
	</div>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/vWUvcTG5IaA" frameborder="0" allowfullscreen>	
					</iframe>
</div>
<div class="collapse" role="tabpanel" aria-labelledby="#fromscapebtn" id="fromscape">
	<div class="card card-block">
		<p>2014: Made in C# using Microsoft Kinect 2.0 and OpenGL. Won the Applied Predictive Technologies Innovation Award at CMU's Fall 2014 15-112 Final Project Showcase (sole winner out of 400+ applicants).
		</p>
	</div>				
	<iframe width="560" height="315" src="https://www.youtube.com/embed/W-zlHrK-lIg" frameborder="0" allowfullscreen>
	</iframe>
</div>
</div>
</div>
</div>
</body>
</html>