<nav class="navbar navbar-toggleable-md navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a color="#000000" href="https://gan-systems.herokuapp.com/about/"><span class="glyphicon glyphicon-tint"></span> About</a>
      </li>
      <li>
        <a color="#000000" href="https://gan-systems.herokuapp.com/works/"><span class="glyphicon glyphicon-fire"></span> Works</a>
      </li>
	<li>
	  <a color="#000000" href="https://gan-systems.herokuapp.com/resume/"><span class="glyphicon glyphicon-tint"></span> Resume</a>
	</li>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a color="#000000" href="https://gan-systems.herokuapp.com/contact/"><span class="glyphicon glyphicon-fire"></span> Contact</a>
	</li>
    </ul>
  </div>
</nav>
